@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
:root{
    --primary:#d8e8f5;
}

nav{
    display: block;

}
main{
    background-color:var(--primary);
}

    body{
        background-color:#f5df21;
        margin: auto;
        max-width: 99.99%;
        place-content: center;
    }
   
   .heading{
    padding: 2rem;
  
   color:brown;
    border-end-end-radius: 2rem;
    font-size:50px;

    text-align: center;
}
.mid-txt{
    text-align: center;
    font-size:x-large;
    margin:auto;
   


    
}




textarea {
    width: 80%;
    height: 10vh;
    display: block;
    margin: auto;
    padding: 1rem;


}
#btn-translate{
   
    margin: 2rem 20rem;
    width: 50%;
    height: 5vh;
   

}
#pre-result{
  
 
    margin: 2rem 35rem;
    width: 20%
  
}



#output {
    margin: auto;
    border: 1px solid black;
    height: 10vh;
    width: 80%;
    resize: auto;
    padding: 1rem; 
   background-color: rgb(246, 244, 241);
    font-size: 1.5rem;
    margin-bottom: 1 rem;
}

footer{
    text-align: center;
    padding: 1rem;
     font-size:larger;
    margin-top: 0.5 rem;


}

.link{
    text-decoration: none;
    color:black;
    padding:0rem 1rem;
    background-color: aqua;
    border-radius:0.5rem;
    
}

